/Quickstarts/1_ClientCredentials/Api/bin
/Quickstarts/1_ClientCredentials/Api/obj
/Quickstarts/1_ClientCredentials/Client/obj
/Quickstarts/1_ClientCredentials/Client/bin
/Quickstarts/1_ClientCredentials/QuickstartIdentityServer/obj
/Quickstarts/1_ClientCredentials/QuickstartIdentityServer/bin
/Quickstarts/1_ClientCredentials/.vs
/Quickstarts/2_ResourceOwnerPasswords/.vs/Quickstart2_ResourceOwnerPasswords/v15/sqlite3
/Quickstarts/2_ResourceOwnerPasswords/Api/bin/Debug/netcoreapp2.0
/Quickstarts/2_ResourceOwnerPasswords/Api/obj
/Quickstarts/2_ResourceOwnerPasswords/Api/Api.csproj.user
/Quickstarts/2_ResourceOwnerPasswords/Client/obj
/Quickstarts/2_ResourceOwnerPasswords/Client/bin/Debug/netcoreapp2.0
/Quickstarts/2_ResourceOwnerPasswords/paket.dependencies
/Quickstarts/2_ResourceOwnerPasswords/QuickstartIdentityServer/QuickstartIdentityServer.csproj.user
/Quickstarts/2_ResourceOwnerPasswords/QuickstartIdentityServer/obj
/Quickstarts/2_ResourceOwnerPasswords/QuickstartIdentityServer/bin/Debug/netcoreapp2.0
/Quickstarts/2_ResourceOwnerPasswords/.vs/Quickstart2_ResourceOwnerPasswords/v15
/Quickstarts/2_ResourceOwnerPasswords/.vs
/Quickstarts/2_ResourceOwnerPasswords/ResourceOwnerClient/obj
/Quickstarts/2_ResourceOwnerPasswords/ResourceOwnerClient/bin
/Quickstarts/2_ResourceOwnerPasswords/Quickstart2_ResourceOwnerPasswords.sln.DotSettings.user
/Quickstarts/4_ImplicitFlowAuthenticationWithExternal/src/Api/obj
/Quickstarts/4_ImplicitFlowAuthenticationWithExternal/src/Api/bin
/Quickstarts/4_ImplicitFlowAuthenticationWithExternal/src/Client/obj
/Quickstarts/4_ImplicitFlowAuthenticationWithExternal/src/Client/bin
/Quickstarts/4_ImplicitFlowAuthenticationWithExternal/src/MvcClient/obj
/Quickstarts/4_ImplicitFlowAuthenticationWithExternal/src/MvcClient/bin
/Quickstarts/4_ImplicitFlowAuthenticationWithExternal/src/ResourceOwnerClient/obj
/Quickstarts/4_ImplicitFlowAuthenticationWithExternal/src/ResourceOwnerClient/bin
/Quickstarts/4_ImplicitFlowAuthenticationWithExternal/src/QuickstartIdentityServer/obj
/Quickstarts/4_ImplicitFlowAuthenticationWithExternal/src/QuickstartIdentityServer/bin
/Quickstarts/4_ImplicitFlowAuthenticationWithExternal/src/QuickstartIdentityServer/wwwroot/lib
/Quickstarts/4_ImplicitFlowAuthenticationWithExternal/.vs
/Quickstarts/4_ImplicitFlowAuthenticationWithExternal/src/Microsoft.AspNetCore.Authentication.QQConnect/obj
/Quickstarts/4_ImplicitFlowAuthenticationWithExternal/src/Microsoft.AspNetCore.Authentication.QQConnect/bin/Debug
